[submodule "php/client/animate_dead"]
	url = git@github.com:silverfoxy/AnimateDead.git
	path = php/client/animate_dead
[submodule "php/debloating_templates/apache_logs"]
        url = git@github.com:silverfoxy/animate_dead_logs.git
        path = php/debloating_templates/apache_logs
[submodule "php/analysis"]
	path = php/analysis
	url = git@github.com:silverfoxy/animate_dead_coverage_logs.git
